*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  background-image: url(../img/background-vawe.svg);
  background-position: center 1100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  display: inline-block;
}
